@{
    ViewData["Title"] = "My Neighborhood";
}


<div class="container" style="background-color:white; padding: 30px;">
    <img style="width:40%; display: block;margin-left:auto;margin-right:auto;" src="~/images/under_construction2@4x.png" />
    @ViewData["Message"]
</div>