@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container" style="background-color:white; padding: 100px; color:#707070;font-family:Poppins , 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <h2>@ViewData["Title"]</h2>

    <p>At Hackit-19 one of our main values is the respect for your privacy. However, and in order to fight against COVID-19, we need to gather some personal data that will help us to show how individuals and community go through the disease.</p>
    <p>
        So, for the purposes of the provisions of the personal data protection regulations, this section informs you about the main elements related to the processing of data and data protection included at the Hackit-19 Platform and of those collected and communicated in accordance with the same.
        For more information and to resolve any doubts you may have, please contact hackit19design@gmail.com
    </p>
    <h4>Which data is processed for which purposes and on which legal basis?</h4>
    <p>Hackit-19 is a collaborative platform whose main goal is to collect individual symptoms of COVID-19 and contributions regarding queues in open businesses to share them with communities and authorities, in order to help them to take informed decisions at individual and community levels.</p>

    <h4>How we collect and use personal information</h4>
    <p>
        Hackit-19 does not need you to create an account in order to use its services. You will be invited to add names or alias, and only if you want or are using the self-check section to assess the health of others. That option will help you to keep separated the assessments.
    </p>
    <p>This does not imply that in the future we will offer the possibility of creating an account.</p>
    <p>The information we collect, use, and disclose is only information about individual users provided to us by those users. We do not use such information for any other purpose except as set out in this privacy policy or as required or permitted by applicable laws.</p>


    <h4>
        Information you provide to us:
    </h4>
    <p>The Hackit-19 Platform is divided in three main sections.</p>
    <ol>

        <li>
            Self-check: a questionnaire that evaluates the severity of your potential COVID-19 infection, designed by taking in consideration those symptoms that are closely correlated with COVID-19, as well as some that have proven to be relevant to make an efficient diagnostic of the severity of the disease. In this section you will have to provide us:
            <ul>
                <li>Your address or postal code and country,</li>
                <li>
                    your age range,
                </li>
                <li>
                    your risk factors (other conditions that might make you more vulnerable to the virus),
                </li>
                <li>
                    whether you have a list of symptoms, and
                </li>
                <li>your respiratory rate (or frequency), evaluated through a 30 seconds exercise.</li>
            </ul>
        </li>
        <li>
            Queues: the number of people that are waiting in a queue. We do not save any information regarding your device or something that might identify you.
        </li>
        <li>
            Maps: this section uses the aggregated data provided by the users that monitor their symptoms. It’s purpose is merely informative.
        </li>
        <li>
            If you contact us via email, we will collect the information that you provide, such as name, email, and any other information.
        </li>
    </ol>
    <p>
        We use the Self-Check information for the purposes of gathering data that may help authorities, healthcare providers, communities, and single individuals to take informed decisions and inform efforts that help keep yourself, your family, and your community healthy. We remember you that the Self-Check tool does not replace a professional consultation and it is not an official diagnostic of COVID-19.
    </p>
    <h4>
        What do we do with the information you provide us:
    </h4>
    <ol>

        <li>
            Address or postal code and country: it helps us to locate you, without asking you to share your location, in an postal code, or administrative area (county, municipality, city, etc.). If you enter your address, we will use it to identify your postal code or, if not available, your  administrative area, so we do not save your address. This method will allow us to be able to aggregate and sum your anonymous results, with the ones provided by the other users of the same area to show them in the section “Health maps”.
        </li>
        <li>
            Age range and risk factors: help us to give you better recommendations.
        </li>
        <li>
            List of symptoms and respiratory rate (frequency): allow us to evaluate if you have COVID-19, the degree of severity and give the users recommendations regarding their medical care.
        </li>
        <li>
            If you contact us we will keep your personal information for the purposes of responding to your request.
        </li>
    </ol>

    <h4>
        How we share personal information
    </h4>
    <p>
        We do not share your personal information with third parties, except as set forth below or as required or permitted by law.
    </p>
    <p>
        As outlined before, the main purpose of Hackit-19 is to provide information that might lead to take informed decisions to individuals and their families, as well as authorities.
    </p>
    <ol>
        <li>
            Users of the platform:
            They have the ability to see how the virus is behaving through different areas based on the self-reported symptoms of other users, which are completely anonymous and untraceable, since we do not store any data that might lead to identify them. This information is shared though the Health Maps section.
        </li>
        <li>
            Local authorities, health care providers, and others working to stop COVID-19 (these parties may include national, federal, provincial/territorial and municipal health ministries and authorities).
            They have the ability to monitor the variation of the results of the self-check tool. They have access to graphs and visualization tools that help them to understand the situation easily.
        </li>
    </ol>
    <p>
        We do not make personal information collected through the FLATTEN Service available to third parties for marketing purposes.
    </p>
    <p>
        Hackit-19 intentionally limits the amount of personal information that it collects to help preserve the anonymity of users.
    </p>

    <h4>
        Information about our website and applications
    </h4>
    <ol>
        <li>
            Visiting our website: In general, you can visit our website without telling us who you are or submitting any personal information.
        </li>
        <li>
            Cookies: Our website uses a technology called "cookies". A cookie is an element of data that our website sends to a user’s browser, which may then be stored on the user’s hard drive and later retrieved by our website so that, for instance, we can recognize the user’s computer or device when they return, even if we don’t store the IP of the user. We rely on cookies to prevent duplication of responses to our form, which in turn increases the accuracy and reliability of our data. You may set your browser to notify you when you receive a cookie or to not accept certain cookies. However, if you decide not to accept cookies from our website, you may not be able to take advantage of all of the website features. You are always able to delete the cookies of a certain website.
        </li>
        <li>
            Google Analytics: This site also uses web analytics services such as Google Analytics. They use cookies to help us analyze how visitors use the website. For example, with Google Analytics, the information generated by the cookie about your use of the Website will be transmitted to and stored, anonymously, by a Google server. Google uses this information for the purpose of evaluating your use of the website, compiling reports on website activity for us, and providing us with other services relating to website activity and internet usage. You can prevent the storage of data relating to your use of the Website and created via the by Google, as well as the processing of this data by Google, by downloading and installing the browser plug-in available at the following link: https://tools.google.com/dlpage/gaoptout?hl=en

            You can also obtain additional information on Google Analytics’ collection and processing of data and data privacy and security at the following links:
            https://policies.google.com/technologies/partner-sites and
            https://support.google.com/analytics/topic/2919631.
        </li>
    </ol>
    <h4>
        Updates to this privacy policy
    </h4>
    <p>
        We may update this privacy policy periodically to reflect changes to our privacy practices, as well as the addition of extra features. We encourage you to periodically review this page to ensure you are familiar with those changes. We will indicate at the top of this privacy policy the last update.
    </p>
</div>

