@{
    ViewData["Title"] = "Terms & Conditions";
}

<div class="container" style="background-color:white; padding: 100px; color:#707070;font-family:Poppins , 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;">
    <h2>@ViewData["Title"]</h2>
    <h5>April 18, 2020</h5>
    <p>
        BY USING THE HACKIT-19 PLATFORM (AS THE TERM IS DEFINED BELOW), YOU ACCEPT AND AGREE TO THESE TERMS OF SERVICE, UPDATED FROM TIME TO TIME IN ACCORDANCE WITH SECTION 2 BELOW TITLED “CHANGES TO THESE TERMS OF SERVICE AND THE HACKIT-19 PLATFORM”. THE TERM “YOU” REFERS TO THE PERSON OR ENTITY VISITING THE WEBSITE (AS THE TERM IS DEFINED BELOW), OR ACCESSING OR OTHERWISE USING THE HACKIT-19 PLATFORM (“USE” OR “USING” IN THESE TERMS OF SERVICE WILL MEAN ANY OF THE FOREGOING). IF YOU DO NOT ACCEPT OR AGREE TO THESE TERMS OF SERVICE, YOU MUST NOT USE THIS PLATFORM.
        YOU ACKNOWLEDGE THAT ALL THE INFORMATION YOU PROVIDE TO US, INCLUDING YOUR ANSWERS THROUGH THE SELF-ASSESSMENT AND QUEUES SECTION, WILL BE AVAILABLE TO OTHERS THROUGH OUR WEBSITE, IN AN EFFORT TO HELP COMPETENT AUTHORITIES, COMMUNITIES, RESEARCHERS, AND OTHERS IN THEIR EFFORTS TO FIGHT COVID-19. IF YOU DO NOT FEEL COMFORTABLE WITH AND DO NOT AGREE TO THESE TERMS OF SERVICE OR OUR PRIVACY POLICY, WE KINDLY ASK YOU TO NOT USE THE HACKIT-19 PLATFORM
        (THOUGH WE WOULD APPRECIATE IT IF YOU COULD PROVIDE US FEEDBACK ON HOW WE MAY BE ABLE TO ADDRESS YOUR CONCERNS IN THE FUTURE BY EMAILING US AT HACKIT19DESIGN@GMAIL.COM).
    </p>
    <h4>Acceptance of Terms of Service</h4>
    <ol>

        <li>
            The following terms of service (the “Terms of Service”) govern your use of: (a) our website located at https://hackit19.azurewebsites.net/ (the “Website”); and (b) our solution made available through the website that is designed to inform communities and authorities about potential cases of COVID-19 and queues for open businesses, including through the provision of:
            <ul>
                <li>
                    self-assessment to collect information regarding individual symptomatology for COVID-19 (“Self-assessment”);
                </li>
                <li>
                    community contributions regarding crowdedness of open businesses (“Queues”),
                </li>
                <li>
                    health maps that illustrate possible cases of COVID-19 (“Health Map”) using the information collected (collectively, the “Hackit-19 Platform”),
                </li>
                <li>
                    and interaction with your local community (“My Hood”).
                </li>
            </ul>
        </li>
        <li>
            These Terms of Service form an agreement between the Hackit-19 team, a not-for-profit team (“us”, “we”, “our”), and you.
        </li>
    </ol>
    <h4>
        Changes to these Terms of Service and Hackit-19 Platform
    </h4>
    <ol>

        <li>
            Except where prohibited by applicable law, we reserve the right to change these Terms of Service at any time without notice. Your continued use of the Hackit-19 Platform, after any changes to these Terms of Service, indicates your acceptance of such changes. It is your responsibility to review these Terms of Service regularly for any changes.
        </li>
        <li>
            We reserve the right to change any information, material or content contained on or provided through the Hackit-19 Platform at any time, and from time to time, without notice.
        </li>
    </ol>


    <h4>
        Usage of the Hackit-19 Platform
    </h4>
    <ol>

        <li>
            The Hackit-19 Platform is provided to you solely (the “Permitted Use”) to: (a) find out more about our efforts; (b)complete a Self-assessment; (c) contribute and check Queue information, (d)exchange basic interactions with your neighbors through ‘My Hood’, and (e)check Health Maps which we may make available and update daily. We will make the Hackit-19 Platform available for your use in accordance with these Terms of
            Service and the Permitted Use only.
        </li>
        <li>
            We retain the right, at our sole discretion, to temporarily or permanently deny you access to the Hackit-19 Platform (or any part thereof) for violation of these Terms of Service.
        </li>
        <li>
            You grant to us a perpetual, irrevocable, royalty-free, fully paid-up and
            worldwide license to access, collect, store, disclose and use any data,
            information, records and files that you load, transmit to or enter into the Hackit-19 Platform, including any Self-assessment Responses (defined below), for the purposes of:
            <ul>
                <li>
                    making the Hackit-19 Platform available;
                </li>
                <li>
                    developing and improving the Hackit-19 Platform;
                </li>
                <li>
                    complying with applicable law; and
                </li>
                <li>
                    complying with our reasonable audit and data retention     policies.
                </li>
            </ul>
        </li>

    </ol>


    <h4>
        Publication of Self-Assessment and Queues Contribution Responses
    </h4>
    <p>
        You acknowledge the nature of the Hackit-19 Platform is to collect information about you and others through responses to our Self-Assessments (“Self-Assessment Responses”) and your Queues Contribution Responses that are disclosed publicly in an effort to provide a tool that can be leveraged by others to face and fight COVID-19. Accordingly, you provide consent and permission for us to:
    </p>
    <ol>

        <li>
            reproduce, copy, adapt, translate and compile your Self-Assessment and Queues Contribution Responses; and
        </li>
        <li>
            to publish, display, share your Self-Assessment Responses and Queues Contribution Responses, in each case, in connection with our Purposes.

            While we do not make any guarantees, we will use good faith efforts to ensure Self-Assessment Responses and Queues Contribution Responses are published, displayed or shared in an aggregated form.
        </li>

    </ol>
    <h4>
        Ownership
    </h4>
    <p>
        We expressly reserve all rights in and to the Hackit-19 Platform (and any part thereof) that are not specifically granted to you under these Terms of Service. You acknowledge and agree that all rights, titles and interest in the Hackit-19 Platform (and any part thereof), all information, material or content provided by us to you in connection with these Terms of Service, and any update, adaptation, translation, customization or derivative work to any of the foregoing, will remain with us (or our third party suppliers, if applicable). The Hackit-19 Platform and all materials provided by us hereunder are licensed or made available, but not “sold”, to you.
    </p>

    <h4>
        User Accounts
    </h4>
    <p>
        You may be required to sign up for a user account (the “User Account”) using the available interfaces on the Hackit-19 Platform, including through authenticating using third party services, such as Google Sign-In, in order to become a user (“User”) and use the Hackit-19 Platform. You will ensure your details and the contact information associated with your User Account is current and accurate at all times. You acknowledge and agree that we may contact you at the contact information you have provided us in connection with your access to and use of the Hackit-19 Platform, including sending you reminder updates to keep the information you have provided to us current. We reserve the right to disable any User Account at any time in the event that we believe or reasonably suspect that it has been used contrary to these Terms of Service or otherwise misused.
    </p>

    <h4>
        Privacy Policy
    </h4>
    <p>
        Please click the following link to review our current Privacy Policy, which contains important information about our practices in collecting, storing, using and disclosing information about an identifiable individual or otherwise subject to applicable privacy laws (“Personal Information”), and which is hereby incorporated into and forms a part of these Terms of Service: https://hackit19.azurewebsites.net/home/privacy. You acknowledge that you have carefully read and understand our current Privacy Policy and consent to our practices regarding Personal Information, including any Personal Information we collect from you through our Self-Assessments and the gathering of Queues Contribution Responses.
    </p>


    <h4>
        No Unlawful or Prohibited Use
    </h4>
    <p>
        You will not, without our prior written permission, use the Hackit-19 Platform for purposes other than the Permitted Use. Without limiting the generality of the foregoing, you will not, and will not permit anyone else to:
    </p>
    <ol>

        <li>
            use the Hackit-19 Platform for any purpose that is unlawful or prohibited by these terms, conditions, and notices.
        </li>
        <li>
            use the Hackit-19 Platform in any manner that could damage, disable, overburden, or impair any Hackit-19 server, or the network(s) connected to any Hackit-19 server, or interfere with any other party's use and enjoyment of any Hackit-19 Platform.
        </li>
        <li>
            attempt to gain unauthorized access to the Hackit-19 Platform, other accounts, computer systems or networks connected to any Hackit-19 Platform server or to any of the Hackit-19 Platform, through hacking, password mining or any other means.
        </li>
        <li>
            obtain or attempt to obtain any materials or information  through any means not intentionally made available through the Hackit-19 Platform.
        </li>
        <li>
            upload to or transmit through the Hackit-19 Platform any information, images, text, data, media or other content that is offensive, hateful, obscene, defamatory or violates any laws, in each case as determined by our sole discretion.
        </li>
    </ol>
    <p>
        Notwithstanding this, you agree that Hackit-19 shall still be allowed to apply for injunctive remedies in any jurisdiction.
    </p>

    <h4>
        Third Party Websites
    </h4>
    <p>
        The Hackit-19 Platform may provide links to third party websites. We do not endorse the information contained on those websites or guarantee their quality, accuracy, reliability, completeness, currency, timeliness, non-infringement, merchantability or fitness for any purpose. The content in any linked website is not under our control, and if you choose to access any such website, you do so entirely at your own risk.
    </p>
    <h4>Disclaimers</h4>
    <ol>

        <li>
            GENERAL USE OF THE HACKIT-19 PLATFORM IS AT YOUR OWN RISK. THE HACKIT-19 PLATFORM IS PROVIDED “AS IS” AND “AS AVAILABLE”. TO THE EXTENT PERMITTED BY APPLICABLE LAW, WE DISCLAIM ALL WARRANTIES, REPRESENTATIONS AND CONDITIONS OF ANY KIND WITH RESPECT TO THE HACKIT-19 PLATFORM WHETHER EXPRESS, IMPLIED, STATUTORY OR COLLATERAL, INCLUDING, WITHOUT LIMITATION, THE IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, MERCHANTABLE QUALITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT, QUALITY, ACCURACY, RELIABILITY, COMPLETENESS, CURRENCY OR TIMELINESS OF THE HACKIT-19 PLATFORM, OR THAT THE HACKIT-19 PLATFORM IS OR WILL BE ERROR-FREE OR WILL OPERATE WITHOUT INTERRUPTION.
        </li>
        <li>
            ACCURACY AND RELIABILITY OF INFORMATION AND DATA. YOU ACKNOWLEDGE AND AGREE THAT THE DATA AND INFORMATION WE MAKE AVAILABLE (INCLUDING HEALTH MAPS AND QUEUES) ARE COLLECTED FROM YOUR CONTRIBUTIONS AND OTHER SIMILAR TOOLS AND THAT WE HAVE NO CONTROL OVER THE QUALITY, ACCURACY, TIMELINESS OR USEFULNESS OF THE INFORMATION. YOUR USE OF ANY SUCH DATA OR INFORMATION IS ENTIRELY AT YOUR OWN RISK. SUCH DATA AND INFORMATION IS MADE AVAILABLE FOR YOUR CONVENIENCE ONLY, AND WE RECOMMEND YOU PERFORM YOUR OWN DILIGENCE BEFORE MAKING DECISIONS BASED ON SUCH INFORMATION.
        </li>
        <li>
            NOT INTENDED FOR REPLACEMENT OF A PHYSICIAN. YOU ACKNOWLEDGE AND AGREE THAT THE HACKIT-19 PLATFORM IS NOT INTENDED TO FACILITATE THE DIAGNOSIS OF COVID-19. ACCORDINGLY, WE MAKE NO REPRESENTATIONS REGARDING THE ACCURACY OR APPROPRIATENESS OF THE SURVEY IN DETERMINING WHETHER YOU OR OTHERS ARE AT RISK OF COVID-19.
            YOU ALSO ACKNOWLEDGE AND AGREE THAT THE HACKIT-19 PLATFORM DOES NOT
            REPLACE THE SERVICES OF A QUALIFIED HEALTH CARE PROFESSIONAL. ACCORDINGLY, IF YOU SUSPECT YOU MAY HAVE COVID-19 OR HAVE QUESTIONS REGARDING COVID-19, PLEASE SEEK THE SERVICES OF A QUALIFIED HEALTH CARE PROFESSIONAL.
        </li>
    </ol>

    <h4>
        Limitation of Liability
    </h4>
    <p>
        IN NO EVENT WILL WE OR OUR OFFICERS, DIRECTORS, AFFILIATES, PARTNERS, EMPLOYEES, SHAREHOLDERS, AGENTS, SUCCESSORS AND ASSIGNS BE LIABLE TO YOU, WHETHER BASED ON WARRANTY, CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR ANY OTHER LEGAL THEORY, FOR ANY DAMAGES OF ANY KIND (INCLUDING, WITHOUT LIMITATION, DIRECT, INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES, LOST PROFITS, LOSS OF USE OR LOSS OF DATA, PERSONAL INJURY, FINES, FEES, PENALTIES OR OTHER LIABILITIES), WHETHER OR NOT WE WERE ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, RESULTING FROM OR RELATED TO THE USE OF, OR THE INABILITY TO MAKE USE OF, THE HACKIT-19 PLATFORM.
    </p>

    <h4>
        Term and Termination
    </h4>
    <p>
        These Terms of Service will commence on the day you first use the Hackit-19 Platform and will continue to be enforced until terminated by either party (the “Term”). Either party may terminate these Terms of Service as follows: (1) we may terminate these Terms of Service at any time and with immediate effect by giving 30 days prior written notice to you by email (at your current email address on file with us) or through the Hackit-19 Platform; and (2) you may terminate these Terms of Service upon 30 days prior written notice by requesting (by email or through any then-available interfaces on the Hackit-19 Platform) that these Terms of Service be terminated between the parties and all your User Accounts be deleted and by ceasing use of the Hackit-19 Platform.
    </p>

    <h4>
        Governing Law and Jurisdiction
    </h4>
    <p>
        These Terms of Service will be governed by the Spanish law. The courts of Barcelona will be competent to know of any conflict that may arise from the use of this Hackit-19 Platform. These laws apply to your use of the Hackit-19 Platform, notwithstanding your domicile, residency or physical location.
    </p>
    <h4>
        General Provisions
    </h4>
    <ol>

        <li>
            These Terms of Service constitute the entire agreement between you and us pertaining to the subject matter hereof and supersede all prior or contemporaneous communications and proposals, whether electronic, oral or written, between you and us with respect to the Hackit-19 Platform. A printed version of these Terms of Service and of any notice given in electronic form will be admissible in judicial or administrative proceedings based upon or relating to these Terms of Service to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
        </li>
        <li>
            Either party’s failure to insist upon or enforce strict performance of any provision of these Terms of Service will not be construed as a waiver of any provisions or right.
        </li>
        <li>
            If any of the provisions contained in these Terms of Service are determined to be void, invalid or otherwise unenforceable by a court of competent jurisdiction, such provision will be severed from these Terms of Service and all other provisions of these Terms of Service will remain in full force and effect.
        </li>
        <li>
            The following Sections, together with any other provision of these Terms of Service which expressly or by its nature survives termination or expiration, or which contemplates performance or observance subsequent to termination or expiration of these Terms of Service, will survive expiration or termination of these Terms of Service for any reason: Sections 4 (Publication of Self-Assessment Responses, Queues Contribution Responses), 5 (Ownership), 7 (Privacy Policy), 9 (Third Party Websites), 10
            (Disclaimer), 11 (Limitation of Liability), 13 (Governing Law and Jurisdiction), and 14 (General Provisions).
        </li>
    </ol>
</div>
